<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Book</title>
</head>
<body>
<h1>Update Book</h1>
<form th:action="@{/books/{id}/edit(id=${book.id})}" th:object="${book}" method="post">
  <input type="hidden" th:field="*{id}" />
  <label>Title: <input type="text" th:field="*{title}" /></label></br>
  <label>Author: <input type="text" th:field="*{author.name}" /></label></br>
  <input type="submit" value="Update" />
</form>
</body>
</html>
